@model SurveyDisplayResponse

<div class="d-flex align-items-center justify-content-center text-center">
    @using (Html.BeginForm("SubmitAnswers", "Surveys", FormMethod.Post))
    {
        <h2 class="mb-5">@Model.Name</h2>

        @for (int i = 0; i < Model.Questions.ToList().Count; i++)
        {
            var question = Model.Questions.ToList()[i];

            <h4>@question.QuestionText</h4>

            @if (question.QuestionType.Type == "Tek seçmeli")
            {
                for (int j = 0; j < question.QuestionOptions.ToList().Count; j++)
                {
                    var option = question.QuestionOptions.ElementAt(j);

                    <label>
                        @Html.RadioButton("Response.Answers[" + i + "].AnswerOptionId", option.Id) @option.Value
                        @Html.Hidden("Response.Answers[" + i + "].QuestionId", question.Id)
                    </label>
                    <br />
                }
            }
            else if (question.QuestionType.Type == "Çoktan seçmeli")
            {
                for (int j = 0; j < question.QuestionOptions.ToList().Count; j++)
                {
                    var option = question.QuestionOptions.ElementAt(j);

                    <label>
                        @Html.CheckBox("Response.Answers[" + i + "].AnswerOptionIds", new { value = option.Id }) @option.Value
                        @Html.Hidden("Response.Answers[" + i + "].QuestionId", question.Id)
                    </label>
                    <br />
                }
            }
            else if (question.QuestionType.Type == "Tek satırlık düz metin")
            {
                <label>
                    @Html.TextBox("Response.Answers[" + i + "].AnswerText")
                    @Html.Hidden("Response.Answers[" + i + "].QuestionId", question.Id)
                </label>
                <br />
            }
            else if (question.QuestionType.Type == "Değerlendirme")
            {
                <label>
                    @question.QuestionOptions.FirstOrDefault().Value

                    @Html.TextBox("Response.Answers[" + i + "].AnswerText", "", new { type = "range", value = "5", min = "" +question.QuestionOptions.FirstOrDefault().Value+ "", max = "" +question.QuestionOptions.LastOrDefault().Value+ "" })

                    @question.QuestionOptions.LastOrDefault().Value

                    @Html.Hidden("Response.Answers[" + i + "].QuestionId", question.Id)
                </label>
                <br />
            }
            <br />
        }

        @Html.Hidden("Response.SurveyId", Model.Id)
        <input type="submit" class="btn btn-primary" value="Anketi Gönder" />
    }
</div>