@model ChartViewModel


@foreach (var question in Model.Questions)
{
    if (question.QuestionType.Type.Contains("seçmeli"))
    { 
        var label = question.QuestionText;
        var labels = new List<string>();
        var data = new List<int>();

        foreach (var questionOption in question.QuestionOptions)
        {
            labels.Add(questionOption.Value);
            int count = 0;


            var answerOptionIds = Model.AnswerOptions?.Where(ao => ao.QuestionOption.Id == questionOption.Id).Select(ao => ao.Id);
            count += answerOptionIds?.Count() ?? 0;


            data.Add(count);
        }
        <div>
            <canvas id="@question.Id"></canvas>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            new Chart(document.getElementById('@question.Id'), {
                type: 'bar',
                data: {
                    labels: @Json.Serialize(labels),
                    datasets: [{
                        label: '@Json.Serialize(label)',
                        data: @Json.Serialize(data),
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        </script>
        <br />
        <br />
        <br />
    }
}



